@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 1px;
}

.grid-cell {
  @apply bg-slate-100 hover:bg-slate-300 flex items-center justify-center cursor-pointer;
}
.selected {
  @apply bg-cyan-400 hover:bg-cyan-300 hover:scale-105 cursor-pointer;
}
